@model IEnumerable<ReservationSource>
@{
    ViewBag.Title = "Reservation Sources";
}
<center>
    <h2>Reservation Source</h2>
</center>

<p>
    @Html.ActionLink("Create New", "Manage")
</p>
<table class="table">
    <tr>   
        <th>
            Sr No
        </th>
        <th>
            Reservation Source
        </th>       
        <th></th>
    </tr>
    @{ int i = 1;}
@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelLocation => item.ReservationSouceName)
        </td>
  
       
        <td>
            @Html.ActionLink("Edit", "ResManage", new { id = item.ReservationSourceID })|          
        </td>
    </tr>
    i++;
}

</table>
