<link href="https://fonts.googleapis.com/css?family=Bad+Script|Merienda:700" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Print.css" media="print">
<center>
    <table>
        <tr>
            <td>
                <img src="~/Custom/Logo.gif" height="110px" />
            </td>
            <td style="text-align:center;">
                <span style="font-family: 'Merienda', cursive; font-weight:bold; font-size:2.3em;">CAVALA RESORT </span><br />
                <span style="font-size:1.1em; text-align:center; font-weight:bold; font-family:'Bad Script', cursive">(Creating friends since )</span>1979<br />
                Baga - Saunta Vaddo, Calangute, Goa - 403516<br />
                Website: www.cavala.com  <br />
                GSTIN NO: xxxxxxx
            </td>
        </tr>
    </table>
</center>
