

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a id="emblem" href="~/"><img src="~/Custom/Emblem.png" height=100px; alt="De Monte Hospitality" /> </a>*@
            @Html.ActionLink("Cavala", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Masters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Configs/Edit/1">Configuration</a></li>
                        <li><a href="~/Groups">User Groups</a></li>
                        <li><a href="~/Units">Units</a></li>
                        <li><a href="~/ItemTypes">Item Types</a></li>
                        <li><a href="~/Items">Items</a></li>
                        <li><a href="~/LocationTypes">Location Types</a></li>
                        <li><a href="~/Locations">Inventory Locations</a></li>
                        <li><a href="~/ItemTypes">Tables</a></li>
                        <li><a href="~/Course">Courses</a></li>

                        <li><a href="~/Menu">Menu</a></li>
                        <li><a href="~/CashCard">Cash cards</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Finance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Receipt">Receipt</a></li>                                                
                                                                  
                    </ul>
                </li>


                    </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
