

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a id="emblem" href="~/"><img src="~/Custom/Emblem.png" height=100px; alt="De Monte Hospitality" /> </a>*@
            @Html.ActionLink("Cavala", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Masters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Configs/Edit/1">Configuration</a></li>
                        <li><a href="~/Groups">User Groups</a></li>
                        <li><a href="~/Units">Units</a></li>                        
                        <li><a href="~/UnitConversion">Unit Conversion</a></li>                        
                        <li><a href="~/Locations">Inventory Locations</a></li>
                        <li><a href="~/Tables">Tables</a></li>
                        <li><a href="~/Course">Courses</a></li>
                        <li><a href="~/CashCard">Cash cards</a></li>

                        <li class="dropdown dropdown-submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Items?Ite=@ItemTypesEnum.Drinks">Drinks</a></li>
                                <li><a href="~/Items?Ite=@ItemTypesEnum.Keys">Keys</a></li>
                                <li><a href="~/Items?Ite=@ItemTypesEnum.LaundryGuest">Guest Laundry</a></li>
                                <li><a href="~/Items?Ite=@ItemTypesEnum.LaundryStaff">Staff Laundry</a></li>
                                <li><a href="~/Items?Ite=@ItemTypesEnum.Linen">Linen</a></li>
                                <li><a href="~/Items?Ite=@ItemTypesEnum.Maintenance">Maintenance</a></li>     
                                <li><a href="~/Items?Ite=@ItemTypesEnum.RawMaterial">Kitchen Raw Material</a></li>
                                <li><a href="~/Items?Ite=@ItemTypesEnum.ReadyToServe">Ready To Serve</a></li>
                                <li><a href="~/Items?Ite=@ItemTypesEnum.Stationary">Stationary</a></li>
                                <li><a href="~/Items?Ite=@ItemTypesEnum.Toiletries">Toiletries</a></li>                                
                            </ul>
                        </li>
                        


                        <li><a href="~/Menu">Menu</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Inventory/Receipt?LocationId=1&ite=@ItemTypesEnum.RawMaterial">Receipt:Raw</a></li>
                        <li><a href="~/Inventory/Receipt?LocationId=1&ite=@ItemTypesEnum.ReadyToServe">Receipt: Ready to Serve</a></li>
                        <li><a href="~/Reports/Wastage">Wastage Report</a></li>                                          
                        <li><a href="~/Inventory/MovEat">Move or Use</a></li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Restaurant<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/TableRes">Reserve Table</a></li>
                    </ul>
                </li>

                    </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
